@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr 2fr;
    font-family: 'Lato', sans-serif;
}

.left{
    background-color: #313338;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main{
    background-color: #3a415f;
    border-left: 7px solid #253063;
    border-right: 7px solid #253063;
    color: #49c100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
}


.phrasal{
    font-size: 52px;
    letter-spacing: 6px;
    word-spacing: 20px;
    line-height: 1px;
    text-align: center;
}

.log{
    padding-top: 10px;
    background-color: #000;
    font-family: 'Consolas';
    border: 3px solid #111111;
    color: #49c100;
    width: 300px;
    height: 170px;
    overflow-y: auto;
}

.guessing{
    bottom: 0;
}

.log p{
    margin-left: 15px;
}


input[type=button]
{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #42ac00;
    border-color: #399500;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

input[type=button]:hover 
{
    color: #fff;
    background-color: #358900;
    border-color: #389100;
}

input[type=text], input[type=password]
{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 24px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    box-shadow: none;
    border-color: #3b9b00;
}

.right{
    background-color: #313338;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.pointer {
    width: 0;
    height: 0;
    position: absolute;
    top: -8%;
    left: calc(49% - 0.25rem);
    background: rgba(0, 0, 0, 0);
    z-index: 1;

  border-left: 0.66vw solid transparent;
  border-right: 0.66vw solid transparent;
  
  border-top: 4.5vw solid rgb(76, 76, 17);
}

.wheel {
    position: relative;   
    caret-color: transparent;
    min-width: 90%;
    aspect-ratio: 1/1;
    background-image: url(kolo-fortuny.png);
    background-size: cover;
    background-position: left;
    transition: transform;
    transition-duration: 6s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(.15,0,.13,1)
    /* border-radius: 50% */
}

.spinner{
    position: relative;
    width: 100%;
}


.tile{
    min-width: 60px;
    min-height: 60px;
    background-color: #000;
    border: 2px solid #49c100;
    color: #49c100;
    border-radius: 4px;
    display: inline-flex;
    position: relative;
    text-align: center;
}

.tile div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1ch;
    left: 3px;

}

.empty{
    border-radius: 0;
    background-color: #3a415f;
    border: 0px solid #000;
    display: block;
}

.word{
    display: inline-block;
    margin: 15px;
}



@media only screen and (max-width: 800px) {
    body{
        grid-template-columns: 1fr;
    }

    .main{
        border: 7px solid #253063;
    }

    .pointer {
      border-left: 2vw solid transparent;
      border-right: 2vw solid transparent;
      
      border-top: 14vw solid rgb(0, 0, 0);
    }

  }

  .spin {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #myProgress {
    background-color: rgb(31, 32, 35);
    margin-top: 5px;
    border-radius: 4px;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    border-radius: 4px;
  }

  @keyframes powerbar {
    0%   {background-color: rgb(0, 255, 0); width:0%;}
    100% {background-color: rgb(255, 0, 0); width:100%;}
  }

  .whenLoading {
    animation-name: powerbar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }